@import "tailwindcss";

* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

input[type="text"], textarea {
	stroke: none;
	border: none;
	outline: none;
}

.special-label {
	opacity: 0 !important;
}