@import "tailwindcss";

* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

:root {
	--h-main-size: 85px;
	--h-nav-size: 70px;
	--h-down-size: 15px;
	--h-total-size: calc(var(--h-main-size) + var(--h-nav-size) + var(--h-down-size));
}

input[type="text"],
textarea {
	stroke: none;
	border: none;
	outline: none;
}

.special-label {
	opacity: 0 !important;
}

/* @media (max-width: 1445px) {
	.item_slot {
		width: 270px;
		height: 350px;
	}
}
@media (max-width: 1310px) {
	.item_slot {
		width: 340px;
		height: 420px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 1223px) {
	.item_slot {
		width: 330px;
		height: 450px;
	}
	.item_slot p {
		font-size: 24px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 1150px) {
	.item_slot {
		width: 290px;
		height: 420px;
	}
	.item_slot p {
		font-size: 20px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 1064px) {
	.item_slot {
		width: 260px;
		height: 390px;
	}
	.item_slot p {
		font-size: 20px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 967px) {
	.item_slot {
		width: 230px;
		height: 360px;
	}
	.item_slot p {
		font-size: 17px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 883px) {
	.item_slot {
		width: 210px;
		height: 320px;
	}
	.item_slot p {
		font-size: 15px;
	}
	.items_cont {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 810px) {
	.item_slot {
		width: 280px;
		height: 370px;
	}
	.item_slot p {
		font-size: 20px;
	}
	.items_cont {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 757px) {
	.item_slot {
		width: 240px;
		height: 350px;
	}
	.item_slot p {
		font-size: 15px;
	}
	.items_cont {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 665px) {
	.item_slot {
		width: 90%;
		height: 600px;
	}
	.item_slot p {
		font-size: 30px;
	}
	.items_cont {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (max-width: 600px) {
	.item_slot {
		width: 90vw;
		height: 600px;
	}
	.item_slot p {
		font-size: 25px;
	}
	.items_cont {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
} */

@media (max-width: 1005px) {
	.contacts_sect {
		flex-direction: column;
		width: 100%;
		gap: 20px;
		margin-top: 25px;
	}
}
/* 
@media (max-width: 950px) {
	.h_right a,
	.h_right h3 {
		font-size: 15px;
	}
	.h_left h1 {
		font-size: 20px;
	}
	.h_left h2 {
		font-size: 16px;
	}
}

@media (max-width: 770px) {
	.h_right a,
	.h_right h3 {
		display: none;
	}
	.h_left h1 {
		font-size: 20px;
	}
	.h_left h2 {
		font-size: 16px;
	}
} */

/* @media (max-width: 770px) {
	.main_about {
		width: 90%;
	}
	.main_about p {
		font-size: 22px;
		text-align: center;
	}
} */

.admpage {
	font-family: "Euclid Square";
}



.customcheckbox {
	appearance: none;
	-webkit-appearance: none;
    background-color: #eee;
    width: 20px;
    height: 20px;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}
.customcheckbox_notchecked {
	border: 1px solid #8d0606;
}
.customcheckbox:checked {
    background-color: #4CAF50;
	border: 1px solid #367c39;
}

.customcheckbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: white;
    clip-path: polygon(
  10% 50%,  
  40% 80%, 
  90% 20%, 
  80% 10%,  
  40% 60%,  
  20% 40%   
);
    transition: transform 0.2s ease-in-out;
}

.customcheckbox:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.flag.by {
	background-image: url("/belflag.png") !important;
	background-repeat: no-repeat !important;
	background-position: left top !important;
	width: 33px !important;
  	height: 33px !important;
	background-size: contain !important;
	margin-top: -17px !important;
	margin-left: -2px !important;
}

.lc li {
	list-style-type: disc;
}

.mdscad {
	position: absolute;
	top: 130px;
	left: -180px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 30px solid #BEAA93;
}
.mdscad_m {
		position: absolute;
		top: 130px;
		left: -180px;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 30px solid #BEAA93;
	}

.mdsccpc {
	opacity: 1;
}

.mdscad2 {
	position: absolute;
	top: 150px;
	left: 207px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 50px solid #BEAA93;
}

.mdscad3 {
	position: absolute;
	top: 150px;
	left: 7px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 50px solid #BEAA93;
}


@media (max-width: 500px) {
	.s_catalog {
		@apply p-5; 
	}
	.s_catalog .ctss {
		@apply mb-3 py-3 px-3;
	}
	.s_catalog .ctss p {
		@apply text-2xl;
	}

	#chars {
		@apply px-8;
	}
	#chars h1 {
		@apply mb-3;
	}

	#materialdesc {
		@apply p-5;
	}
	#materialdesc .p1 {
		@apply w-[100%] mt-3;
	}
	#materialdesc .p2 {
		@apply w-[100%];
	}
	.mdsccpc {
		opacity: 0;
	}


	#materialappl {
		@apply px-5;
	}
	#materialappl > div {
		@apply gap-10 flex-col px-7 mt-3;
	}

	#materireliablity {
		@apply px-5;
	}

	#instspeed {
		@apply px-5;
	}
	.mdscad21 {
		top: 112px;
		left: 170px;
	}
	.mdscad2 {
		top: 190px;
		left: 140px;
	}

	#aboutus {
		@apply px-5;
	}

	.p_cat {
		@apply px-4;
	}
	.p_cat h1 {
		@apply text-3xl mt-3;
	}
	.p_cats {
		@apply px-0 mb-3;
	}
	.p_cats img {
		width: 100px;
		/* height: 100px; */
	}
	.p_cats .c_name {
		@apply text-xl;
	}
	.p_cats .c_size {
		@apply text-sm;
	}
	.p_cats .c_width {
		@apply text-sm;
	}

	.p_cats .c_price {
		@apply text-xl mr-2;
	}
	.p_cats .c_article {
		@apply mr-2;
	}
}